@page "/"

<h1>Preregistered Users</h1>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>User Email</th>
            <th>User Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>admin@admin.com</td>
            <td>Admin1***</td>
        </tr>
        <tr>
            <td>manager@manager.com</td>
            <td>Manager1***</td>
        </tr>
        <tr>
            <td>employee@employee.com</td>
            <td>Employee1***</td>
        </tr>
        <tr>
            <td>customer@customer.com</td>
            <td>Customer1***</td>
        </tr>
    </tbody>
</table>
