@page
@model Server.Pages.PaymentPages.CreateModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Payment.PaymentDate" class="control-label"></label>
                <input asp-for="Payment.PaymentDate" class="form-control" />
                <span asp-validation-for="Payment.PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.PaymentStatus" class="control-label"></label>
                <input asp-for="Payment.PaymentStatus" class="form-control" />
                <span asp-validation-for="Payment.PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.PaymentServiceId" class="control-label"></label>
                <select asp-for="Payment.PaymentServiceId" class ="form-control" asp-items="ViewBag.PaymentServiceId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
