<MudPaper Elevation="6" Class="rounded-pill">
    <MudToolBar Class="gap-x-2">
        @if (Search is not null)
        {
            <div style="width:100%;">
                <MudAutocomplete T=string Label="Search Item" @bind-Value=value SearchFunc=Search FullWidth=true
                                 ResetValueOnEmptyText=true Variant=Variant.Outlined Margin=Margin.Dense
                                 CoerceValue=true AdornmentIcon=@searchIcon CoerceText=false />
            </div>

            <MudSpacer />
        }
        @if (RefreshEvent.HasDelegate)
        {
            <MudTooltip Text="Refresh">
                <MudIconButton Icon=@Icons.Material.Rounded.Refresh OnClick=Refresh />
            </MudTooltip>
        }
        @if (ViewStyleChangedEvent.HasDelegate)
        {
            <MudTooltip Text=@((viewStyle)? "Card View" : "List View")>
                <MudToggleIconButton Toggled=viewStyle ToggledChanged=@((style) => ViewStyleChanged(style))
                                     Icon=@Icons.Material.Rounded.ViewList
                                     ToggledIcon=@Icons.Material.Rounded.ViewModule />
            </MudTooltip>
        }
        @if (ViewItemModeChangedEvent.HasDelegate)
        {
            <MudTooltip Text=@((itemMode == ItemMode.Normal)? "Normal" : (itemMode == ItemMode.Deleted)? "Deleted": "All")>
                <MudIconButton OnClick=@ViewItemModeChanged Icon=@modeBtnIcon />
            </MudTooltip>
        }
    </MudToolBar>
</MudPaper>
