@page "/ProductType"
@using Business.IRepository.IProductRepositories
@using DataAcesss.Data.ProductModels
@inject IProductTypeRepository ProductTypeRepository
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, Manager")]

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">Product Types</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="ProductType/Create" class="btn btn-info form-control">Add New Product Type</NavLink>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12" style="overflow:auto;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (productTypes != null)
                {
                    @foreach (var productType in productTypes)
                    {
                        <tr>
                            <td>@productType.ProductTypeId</td>
                            <td>@productType.Type</td>
                            <td>@productType.Description</td>
                            <td>
                                <NavLink href="@($"ProductType/Edit/{productType.ProductTypeId}")" class="btn btn-primary">Edit</NavLink>
                                <button class="btn btn-danger" @onclick="()=>DeleteProduct(productType.ProductTypeId)">Delete</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            No Data Available
                        </td>
                    </tr>  
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public ICollection<ProductType> productTypes { get; set; }
    protected override async Task OnInitializedAsync()
    {
        productTypes = await ProductTypeRepository.GetAllProductsType();
    }
    private async Task DeleteProduct(int Id)
    {
        ProductType productType = await ProductTypeRepository.GetProductType(Id);
        if(productType != null)
        {
            ProductTypeRepository.DeleteProductType(Id);
            productTypes = await ProductTypeRepository.GetAllProductsType();
        }
    }
}
