@page
@model Server.Pages.FinancialAidPages.CreateModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles ="Admin, Manager")]
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FinancialAid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.MinBalance" class="control-label">Minimum Balance</label>
                <input asp-for="Input.MinBalance" class="form-control" />
                <span asp-validation-for="Input.MinBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.MaxBalance" class="control-label">Maximum Balance</label>
                <input asp-for="Input.MaxBalance" class="form-control" />
                <span asp-validation-for="Input.MaxBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AidAmount" class="control-label">Aid Amount</label>
                <input asp-for="Input.AidAmount" class="form-control" />
                <span asp-validation-for="Input.AidAmount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Input.Percentage" /> @Html.DisplayNameFor(model => model.Input.Percentage)
                </label>
            </div>
            @if (HttpContext.User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="Input.EstablishmentId" class="control-label">Establishment</label>
                    <select asp-for="Input.EstablishmentId" class ="form-control" asp-items="ViewBag.EstablishmentId">
                        <option value="" selected disabled>Select Establishment</option>
                    </select>
                </div>
            }
            <div class="form-group">
                <label asp-for="Input.ProductTypeId" class="control-label">Product Type</label>
                <select asp-for="Input.ProductTypeId" class ="form-control" asp-items="ViewBag.ProductTypeId">
                    <option value="" selected disabled>Select Type</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
