<div class="contain">
  <div class="te">4</div>
  <div class="abduct">
    <div class="ufo"></div>
    <div class="light"> 0 </div>
    <div class="lightsh">  </div>
  </div>
  <div class="te">4</div>
</div>

<div class ="text">
The page you are looking for is either stolen by aliens 
or never existed.
</div>
